/* ==== RESET STYLES ====================================================== */

html,
body {
	margin: 0;
	padding: 0;
	display: block;
}

html {
	font-size: 16px;
}

@media (max-width: 950px) {
	html {
		font-size: 14px;
	}
}

body {
	background: #CCC;
}

/* ======================================================================== */

/* ==== BACKGROUND ======================================================== */

@-webkit-keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

.background {
	background-image: url(../images/parallax1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.lines {
	-webkit-animation: spinner 60s linear infinite;
	animation: spinner 60s linear infinite;
	background: url(../images/linework1.png) center center no-repeat;
	background-size: contain;
	min-height: 100%;
	left: 0px;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
}

/* ======================================================================== */

/* ==== TYPOGRAPHY ======================================================== */

body {
	font-size: 1rem;
	line-height: 1.5;
	color: rgba(255,255,255,.8);
	font-family: Helvetica,'Open Sans', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	letter-spacing: 0.1rem;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

.viewport {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

/* ======================================================================== */

/* ==== HEADER STYLES ======================================================= */

.header {
	display: block;
	background-color: rgba(0, 0, 0, .8);
	font-size: 0;
	line-height: 0;
	position: relative;
	padding: 20px
}

.header h1 {
	color: #ffffff;
}

.header__inner {
	max-width: 90vw;
	margin: 0 auto;
	justify-content: space-between;
	display: flex;
	width: 100%;
	align-items: center;
}

.header__logo {
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.header-logo__image {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.header__trigger {
	width: 44px;
	height: 44px;
	background-image: url(../images/menu.svg);
	background-size: 24px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* ======================================================================== */

/* ==== MENU STYLES ======================================================= */

.menu-overlay {
	background-color: #000000;
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	overflow-y: auto;
	transform: translateY(150%);
	transition: transform 0.4s;
}

body.menu-open .menu-overlay {
	transform: translateY(0%);
}

.menu-overlay__close {
	width: 44px;
	height: 44px;
	top: 30px;
	right: 30px;
	background-image: url(../images/x.svg);
	background-size: 24px;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
}

.menu-overlay__content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 100%;
	padding: 80px 30px;
	box-sizing: border-box;
}

.nav {
	display: block;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.nav-item {
	margin: 4px;
}

.nav-link {
	color: rgba(255,255,255,0.5);
	text-transform: uppercase;
	font-size: 1.8rem;
	text-decoration: none;
	transition: color 0.25s;
	font-weight: 600;
	letter-spacing: 5px;
}

.nav-link:hover {
	color: rgba(255,255,255,1);
}

/* ======================================================================== */

/* ==== BODY STYLES ======================================================= */

.main {
	padding: 30px 15px;
	max-width: 800px;
	margin: auto;
}

/* ======================================================================== */

/* ==== LEAGUE TABLES PAGE ================================================ */

.division {
	margin: 0 0 2rem;
}

.division h3 {
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1rem;
}

.table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 3px;
}

.table th {
	padding: 0.7rem 1rem;
    text-align: center;
    background: rgba(0,0,0,.2);
    border-bottom: .25rem solid #231f20;
}

.table td {
	padding: 0.7rem 1rem;
	text-align: center;
	background: rgba(255,255,255,.15);
	margin-bottom: .5rem;
	border-bottom: .25rem solid rgba(0,0,0,.3);
}

.table .th-name,
.table .td-name,
.table .td-name a {
	text-align: left
}

@media (max-width: 950px) {
	.table th,
	.table td {
		padding: 0.7rem;
	}
}

.table a {
	color: #ffffff;
	text-decoration: none;
}

@media (max-width: 950px) {
	.th-kills,
	.th-deaths,
	.th-kd{
		display: none;
	}

	.td-kills,
	.td-deaths,
	.td-kd {
		display: none;
	}

	.body--kd .th-points,
	.body--kd .td-points,
	.body--kd .th-played,
	.body--kd .td-played,
	.body--kd .th-wins,
	.body--kd .th-draws,
	.body--kd .th-losses,
	.body--kd .td-wins,
	.body--kd .td-draws,
	.body--kd .td-losses {
		display: none;
	}

	.body--kd .th-kills,
	.body--kd .th-deaths,
	.body--kd .th-kd,
	.body--kd .td-kills,
	.body--kd .td-deaths,
	.body--kd .td-kd {
		display: table-cell;
	}
}

.table-toggles {
	display: none;
}

@media (max-width: 950px) {
	.table-toggles {
		display: block;
		margin: 0 auto 2rem;
	}
}

.table-toggles ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.table-toggle {
	color: #ffffff;
	background-color: #231f20;
	padding: 0.5rem;
	cursor: pointer;
}

.table-toggle--active {
	background-color: #c62b29;
	cursor: default;
}

.quick-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	margin: 0 auto 2rem;
	padding: 0;
	text-align: center;
}

.quick-links li {
	padding: 0.5rem;
}

.quick-links li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 2px;
	opacity: .5;
	transition: opacity .25s;
}

@media (max-width: 767px) {
	.quick-links li {
		padding: 0.25rem;
	}

	.quick-links li a {
		font-size: 0.875rem;
	}
}

.quick-links li a:hover {
	opacity: 1;
}

/* ======================================================================== */

/* ==== FIXTURES ========================================================== */

.fixture-week {
	text-align: center;
	margin-bottom: 2rem;
	background: rgba(0,0,0,.05);
	padding: 20px;
}

.fixture-week h3 {
	margin-bottom: 1rem;
	font-weight: 600;
	letter-spacing: 1rem;
}

.fixture-week h4 {
	margin-bottom: 1rem;
	font-weight: 600;
}

.fixture-list {
	list-style: none;
	margin: 0 0 1.5rem;
	padding: 0;
}

.fixture {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 0 0 0.5rem;
}

.fixture-player {
	width: 47%;
	text-align: left;
}

.fixture-player a {
	text-decoration: none;
	color: rgba(255,255,255,0.5);
	transition: color 0.25s;
}

.fixture-player a:hover {
	color: rgba(255,255,255,1);
}

.fixture-player--home {
	text-align: right;
}

.fixture-player__score {
	color: #ffffff;
	width: 30px;
	text-align: center;
	display: inline-block;
	font-weight: 600;
	background: #231f20;
	padding: 3px 0;
	margin: 0 3px;
}

.fixture-vs {
	opacity: 0.5;
	font-size: 0.75rem;
	width: 6%;
}

@media (max-width: 767px) {
	.fixture-player {
		font-size: 12px;
	}
}


/* ======================================================================== */

/* ==== FORMS ============================================================= */

a.btn,
button.btn,
input.btn {
	display: inline-block;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background-color: #c62b29;
	color: #ffffff;
	padding: 0.6rem 1.8rem;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
	border: 0;
	cursor: pointer;
	transition: background-color 0.25s
}

a.btn:hover,
button.btn:hover,
input.btn:hover {
	background-color: #231f20;
}

.card-header {
	position: relative;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.2em;
	margin: 0 0 2rem;
	font-size: 1.4rem;
	text-align: center;
}

.card-title a {
	float: right;
	margin-top: 1rem;
}

.card-header:after {
	left: 50%;
	margin-left: -40px;
	width: 80px;
	position: absolute;
	bottom: 0;
	background: #ffffff;
	content:" ";
	height: 3px;
}

.btn-toolbar {
	padding: 0 0 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 1rem;
}

.form-group .col {
	width: 50%;
	padding: 0 15px;
	box-sizing: border-box;
}

.form-group label.col {
	text-align: right;
	font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="number"] {
	font-size: 1rem;
	line-height: 1;
	border: 1px solid #231f20;
	color: #231f20;
	font-family: 'Open Sans', sans-serif;
	padding: 0.5rem;
	width: 100%;
	box-sizing: border-box;
}

.form-group select {
	font-size: 1rem;
	line-height: 1;
	border: 1px solid #231f20;
	color: #231f20;
	font-family: 'Open Sans', sans-serif;
	padding: 0.5rem;
	width: 100%;
	box-sizing: border-box;
}

.form-submit {
	width: 100%;
	text-align: center;
}

/* ======================================================================== */

.division-players {
	border: 1px solid #cccccc;
	list-style: none;
	margin: 0;
	padding: 10px;
}

.division-players li {
	padding: 10px;
}

/* ======================================================================== */

/* ==== RESPONSIVE TABLE ================================================== */

@media (max-width: 767px) {
	.table-collapses thead {
		display: none;
	}

	.table-collapses td {
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		border: 0;
		text-align: left;
		padding-left: 50%;
		position: relative;
	}

	.table-collapses td:after {
		content: attr(data-th);
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		padding: 0.7rem;
		text-align: right;
		box-sizing: border-box;
		font-weight: 700;
	}

	.table-collapses td:last-child {
		margin-bottom: 3px;
	}

	.table-collapses .table-responsive--fill {
		padding-left: 0.7rem;
		text-align: center;
	}
}

/* ======================================================================== */
